<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('pagelet/IndexHeader.html')
	</head>
	<body>
		wifi: $!data.id <br/>


		<span style='color:red;'>顶部活动广告</span> <br/>
		#foreach($ad in $!data.adShow.topOfPageAd)
			<img src='$!{conf.imageServ.url}$!{ad.AD_PIC}' style='height:200px;width:300px' alt='$!{ad.AD_NAME}' title='$!{ad.AD_NAME}'> <br/>
		#end
		<br/>
		<br/>

		<span style='color:red;'>商家分类广告</span> <br/>
		#foreach($cate in $!data.adShow.shopCateAd)
			<b>$!cate.TYPE_NAME</b> <br/>

			#foreach($ad in $!cate.children)
				$ad.SHOP_NAME <br/>
			#end
			<br/>
		#end

		<br/>

		<span style='color:red;'>商品分类广告</span> <br/>
		#foreach($cate in $!data.adShow.goodsCateAd)
			<b>$!cate.TYPE_NAME</b> <br/>

			#foreach($ad in $!cate.children)
				$ad.GOODS_NAME <br/>
			#end
			<br/>
		#end
	</body>
</html>