<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('pagelet/IndexHeader.html')
		<style type='text/css'>
		body {
			background: rgba(0, 0, 0, 0) url('http://www.foreworld.net/public/assets/css/olx/images/bg.jpg') repeat scroll 0 0;
		}
		.flexslider {
			border: 0;
			border-radius: 0;
		}
		.topAd {
			padding-left: 0;
			padding-right: 0;
		}
		</style>
	</head>
	<body>
		<section class='container'>
			<div class='row'>
				<div class='col-sm-12 col-md-12 topAd'>
					<!-- Carousel
					================================================== -->
					<section class='flexslider'>
						<ul class='slides'>
							#foreach($ad in $!data.adShow.topOfPageAd)<li>
								<a href='javascript:;'>
									<img src='$!{conf.imageServ.url}$!{ad.AD_PIC}'
										title='$!{ad.AD_NAME}' alt='$!{ad.AD_NAME}' /></a>
							</li>#end
						</ul>
					</section>
					<script type='text/javascript'>
					$(function(){
						$('.flexslider').flexslider({
							animation: 'slide'
						});
					});
					</script><!-- /.carousel -->
				</div>
			</div>
		</section>
		#parse('pagelet/IndexJs.html')
		<!-- Own -->
		#parse('pagelet/LastJs.html')
	</body>
</html>