<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('front/_pagelet/Common.IndexHeader.html')
    <link rel='stylesheet' type='text/css' media='screen'  href='$!{conf.html.static_res}assets/css/front/1.0.1/style.css' />
	</head>
  <body style="margin-bottom:55px; ">
<div class="top sjxc my">
  <div class="back"><a href="javascript:history.back()"></a></div>
    <p class="kq">我的</p>
    <div class="gf"><p><a href="javascript:;"></a></p></div>
</div>
<div class="my_bg">
  <img src="/public/assets/images/xx.jpg">
   <div class="user_infor">
    <p><img src="/public/assets/images/xx.jpg"></p>
    <p>
      <span>Nennkie</span><br>

        <span>3203317@qq.com</span>
    </p>
   </div>
</div>
<div class="my_order">
  <p><span>我的订单</span>  <a>9</a></p>
    <p><span>点评</span><a>12</a></p>
    <p><span>收藏</span><a>16</a></p>
</div>
<div class="yhq_infor">
  <p class="yhq_tit"><span>优惠券</span>  <a>即将到期</a></p>
   
</div>
 <div class="zxq">
      <p class="zxq_tit"><span>未使用</span><span>已使用</span><span>已过期</span></p>
        <ul>
        
          <li>
            
            <div class="syqk">
              <div class="syqk_l">
                  <p class="cycle"></p>
                    <p class="wsy"><b>50元</b>未使用</p>
                    <div class="syqk_l_c ">
                      <p >订单满385可用</p>
                        <p>订单满385可用</p>
                        <p>仅限有效期内使用</p>
                        
                        <p>有效期：2015.7.15-2015.8.15</p>
                    </div>
                </div>
                <div class="syqk_r"><span>立即使用</span></div>
                <p class="bot">私家小厨活动专享券</p>
            </div>
            
            
            
            
            
            </li>
            <li>  <div class="syqk">
              <div class="syqk_l">
                  <p class="cycle"></p>
                    <p class="wsy"><b>50元</b>未使用</p>
                    <div class="syqk_l_c ">
                      <p>订单满385可用</p>
                        <p>订单满385可用</p>
                        <p>仅限有效期内使用</p>
                        
                        <p>有效期：2015.7.15-2015.8.15</p>
                    </div>
                </div>
                <div class="syqk_r"><span>立即使用</span></div>
                <p class="bot">私家小厨活动专享券</p>
            </div>
            </li>
            <li>  <div class="syqk">
              <div class="syqk_l">
                  <p class="cycle"></p>
                    <p class="wsy"><b>50元</b>未使用</p>
                    <div class="syqk_l_c ">
                      <p>订单满385可用</p>
                        <p>订单满385可用</p>
                        <p>仅限有效期内使用</p>
                        
                        <p>有效期：2015.7.15-2015.8.15</p>
                    </div>
                </div>
                <div class="syqk_r"><span>立即使用</span></div>
                <p class="bot">私家小厨活动专享券</p>
            </div>
            </li>   
        </ul>
        
         <ul>
        
          <li>
            
            <div class="syqk">
              <div class="syqk_l">
                  <p class="cycle"></p>
                    <p class="wsy"><b>50元</b>未使用</p>
                    <div class="syqk_l_c ">
                      <p>订单满385可用</p>
                        <p>订单满385可用</p>
                        <p>仅限有效期内使用</p>
                        
                        <p>有效期：2015.7.15-2015.8.15</p>
                    </div>
                </div>
                <div class="syqk_r"><span>立即使用</span></div>
                <p class="bot">私家小厨活动专享券</p>
            </div>
            
            
            </li>
            <li>  <div class="syqk">
              <div class="syqk_l">
                  <p class="cycle"></p>
                    <p class="wsy"><b>50元</b>未使用</p>
                    <div class="syqk_l_c ">
                      <p>订单满385可用</p>
                        <p>订单满385可用</p>
                        <p>仅限有效期内使用</p>
                        
                        <p>有效期：2015.7.15-2015.8.15</p>
                    </div>
                </div>
                <div class="syqk_r"><span>立即使用</span></div>
                <p class="bot">私家小厨活动专享券</p>
            </div>
            </li>
            <li>  <div class="syqk">
              <div class="syqk_l">
                  <p class="cycle"></p>
                    <p class="wsy"><b>50元</b>未使用</p>
                    <div class="syqk_l_c ">
                      <p>订单满385可用</p>
                        <p>订单满385可用</p>
                        <p>仅限有效期内使用</p>
                        
                        <p>有效期：2015.7.15-2015.8.15</p>
                    </div>
                </div>
                <div class="syqk_r"><span>立即使用</span></div>
                <p class="bot">私家小厨活动专享券</p>
            </div>
            </li>   
        </ul>
        
         <ul>
        
          <li>
            
            <div class="syqk">
              <div class="syqk_l">
                  <p class="cycle"></p>
                    <p class="wsy"><b>50元</b>未使用</p>
                    <div class="syqk_l_c ">
                      <p>订单满385可用</p>
                        <p>订单满385可用</p>
                        <p>仅限有效期内使用</p>
                        
                        <p>有效期：2015.7.15-2015.8.15</p>
                    </div>
                </div>
                <div class="syqk_r"><span>立即使用</span></div>
                <p class="bot">私家小厨活动专享券</p>
            </div>
            
            
            </li>
            <li>  <div class="syqk">
              <div class="syqk_l">
                  <p class="cycle"></p>
                    <p class="wsy"><b>50元</b>未使用</p>
                    <div class="syqk_l_c ">
                      <p>订单满385可用</p>
                        <p>订单满385可用</p>
                        <p>仅限有效期内使用</p>
                        
                        <p>有效期：2015.7.15-2015.8.15</p>
                    </div>
                </div>
                <div class="syqk_r"><span>立即使用</span></div>
                <p class="bot">私家小厨活动专享券</p>
            </div>
            </li>
            <li>  <div class="syqk">
              <div class="syqk_l">
                  <p class="cycle"></p>
                    <p class="wsy"><b>50元</b>未使用</p>
                    <div class="syqk_l_c ">
                      <p>订单满385可用</p>
                        <p>订单满385可用</p>
                        <p>仅限有效期内使用</p>
                        
                        <p>有效期：2015.7.15-2015.8.15</p>
                    </div>
                </div>
                <div class="syqk_r"><span>立即使用</span></div>
                <p class="bot">私家小厨活动专享券</p>
            </div>
            </li>   
        </ul>
        
</div>
<div class="clearfix"></div>
    #parse('front/_pagelet/Side.Bottom.html')

    #parse('front/_pagelet/Common.IndexJs.html')
    <script>
    $(function(){
    
    $('.zxq p span').click(function(){
      var index=$('.zxq p span').index(this);
      $('.zxq ul' ).eq(index).fadeIn(500).siblings('ul').fadeOut(100);
      
      })
    })
    </script>
</body>
</html>
