<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('front/_pagelet/Common.IndexHeader.html')
    <link rel='stylesheet' type='text/css' media='screen'  href='$!{conf.html.static_res}assets/css/front/1.0.1/style.css' />
	</head>
  <body style="margin-bottom:68px">
<div class="top sjxc">
  <div class="back"><a href="javascript:history.back();"></a></div>
    <p class="kq">卡券</p>
    <div class="gf"><p><a href="javascript:;"></a><a href="javascript:;"></a></p></div>
</div>
<div class="process">
  <p class="lc"><img src="/public/assets/images/lc.png"></p>
    <p class="yhq"><a href="#"><img src="/public/assets/images/yhq.png"></a></p>
    <div class="lq"><p><span>252</span><span>人已领取</span> </p><p><span>剩余</span><span>52</span>份</p></div>
    <div class="clearfix"></div>
    <p class="yhbh">优惠编号：<span>22256-23565-20023</span></p>
    <div class="time">
      <p>有效期至：<br>2015年9月28日
</p>
        <p>使用时段：<br>9:00-23:00
</p>
    </div>
</div>
<div class="qrdd">
  <p class="dd"><span>确认订单</span></p>
    <div class="ddnr">
      <p>私家小厨100元代金券<span>单价：￥ 85</span></p>
        <p>数量<span>+</span><span>12</span><span>_</span></p>
        <p>总价<span>￥185</span></p>
      <p>还需支付<span>￥185</span></p>
        <p>填写手机号<span><input type="text"></span></p>
    </div>

</div>
<div class="qr">
  <a href="/shop/coupon/receive/">确认支付</a>
</div>

    #parse('front/_pagelet/Side.Bottom.html')

    #parse('front/_pagelet/Common.IndexJs.html')
  </body>
</html>
