<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('front/_pagelet/Common.IndexHeader.html')
    <link rel='stylesheet' type='text/css' media='screen'  href='$!{conf.html.static_res}assets/css/front/1.0.1/style.css' />
	</head>
  <body style="margin-bottom:68px">
<div class="top sjxc">
  <div class="back"><a href="javascript:history.back();"></a></div>
    <p class="kq">在线领取</p>
    <div class="gf"><p><a href="javascript:;"></a></p></div>
</div>
<div class="infor">
  <p><img src="/public/assets/images/lq.png"></p>
    <p><span>私家小厨满388元减50元优惠劵</span><br>
    <span>2015-6-23-2016-6.30</span>
</p>
    <p>优惠券：<span>22256-235656-20023</span><span>复制</span></p>
    <p>恭喜您获得私家小厨满388减50全店通用抵用劵！登陆账号
我的查看优惠劵即可使用，赶紧去，享用您的全民时刻吧！
店内使用兑换验证码即可。</p>
  
</div>
<div class="clearfix"></div>
<div class="qr sy">
  <a href="javascript:;">确认支付</a>
</div>
    #parse('front/_pagelet/Side.Bottom.html')

    #parse('front/_pagelet/Common.IndexJs.html')
  </body>
</html>
