<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('front/_pagelet/Common.IndexHeader.html')
    <link rel='stylesheet' type='text/css' media='screen'  href='$!{conf.html.static_res}assets/css/front/1.0.1/style.css' />
	</head>
  <body>
<div class="top" >
  <div class="back"><a href="javascript:history.back()">私家小厨</a></div>
    <div class="gf"><p><a href="javascript:;"></a><a href="javascript:;"></a></p></div>
</div>
<div class="clearfix"></div>
<div class="hb">
  <img src="$!{conf.html.fileServ}201504/4/201507/ban1.jpg">
    <div>
        <p>私家小厨抵用（中原路店）</p>
        <p><span>整体评价：4.8分</span><span>口味：9.2</span><span>环境：9.8</span><span>服务：8.2</span></p>
    </div>
</div>

<div class="list">
  <div class="good">
      <div class="good_intro">
        
        
      <div class="intro"><img src="$!{conf.html.fileServ}201504/4/201507/s_img1.jpg"><span>新品</span></div>
      <div class="good_de">
          <h3>私家小厨[2人套餐]</h3>
            <p class="sale">￥ 386 <img src="/public/assets/images/icon4.jpg"> 186</p>
            <div class="clearfix"></div>
            <div class="star">
              <span><img src="/public/assets/images/star_ac.jpg"></span>
                <span><img src="/public/assets/images/star_ac.jpg"></span>
                <span><img src="/public/assets/images/star_ac.jpg"></span>
                <span><img src="/public/assets/images/star_ac.jpg"></span>
                <span><img src="/public/assets/images/star.jpg"></span>
            
            </div>
            <div class=" clearfix"></div>
            <div class="yh"><span><img src="/public/assets/images/icon1.jpg"></span> <span><img src="/public/assets/images/icon2.jpg"> </span><span>菜品详情</span>
         
            </div>
           
        </div>
         <div class="djlq">
            <a href="#">点击领券</a>
         </div>
        </div>
        <div class="clearfix"></div>
        <div class="xq">
                  <h3>私家小厨（中原路店）</h3>
                    <p>满300减20，满400减50，满500减80，凡在活动期间
每天限买一单（在线支付专享）</p>
                    <p>在线支付的订单可使用现金劵抵用，每天一单，
每单限一张，不予平台其他优惠劵叠加使用。</p>
                
        </div>
    </div>
  <div class="good">
      <div class="good_intro">
        
        
      <div class="intro"><img src="$!{conf.html.fileServ}201504/4/201507/s_img1.jpg"><span>新品</span></div>
      <div class="good_de">
          <h3>私家小厨[2人套餐]</h3>
            <p class="sale">￥ 386 <img src="/public/assets/images/icon4.jpg"> 186</p>
            <div class="clearfix"></div>
            <div class="star">
              <span><img src="/public/assets/images/star.jpg"></span>
                <span><img src="/public/assets/images/star.jpg"></span>
                <span><img src="/public/assets/images/star.jpg"></span>
                <span><img src="/public/assets/images/star.jpg"></span>
                <span><img src="/public/assets/images/star.jpg"></span>
            
            </div>
            <div class=" clearfix"></div>
            <div class="yh"><span><img src="/public/assets/images/icon1.jpg"></span> <span><img src="/public/assets/images/icon2.jpg"> </span><span>菜品详情</span>
         
            </div>
           
        </div>
         <div class="djlq">
            <a href="#">点击领券</a>
         </div>
        </div>
         <div class="clearfix"></div>
        <div class="xq">
                  <h3>私家小厨（中原路店）</h3>
                    <p>满300减20，满400减50，满500减80，凡在活动期间
每天限买一单（在线支付专享）</p>
                    <p>在线支付的订单可使用现金劵抵用，每天一单，
每单限一张，不予平台其他优惠劵叠加使用。</p>
                
        </div>
    </div>
    <div class="good">
      <div class="good_intro">
        
        
      <div class="intro"><img src="$!{conf.html.fileServ}201504/4/201507/s_img1.jpg"><span>新品</span></div>
      <div class="good_de">
          <h3>私家小厨[2人套餐]</h3>
            <p class="sale">￥ 386 <img src="/public/assets/images/icon4.jpg"> 186</p>
            <div class="clearfix"></div>
            <div class="star">
              <span><img src="/public/assets/images/star.jpg"></span>
                <span><img src="/public/assets/images/star.jpg"></span>
                <span><img src="/public/assets/images/star.jpg"></span>
                <span><img src="/public/assets/images/star.jpg"></span>
                <span><img src="/public/assets/images/star.jpg"></span>
            
            </div>
            <div class=" clearfix"></div>
            <div class="yh"><span><img src="/public/assets/images/icon1.jpg"></span> <span><img src="/public/assets/images/icon2.jpg"> </span><span>菜品详情</span>
         
            </div>
           
        </div>
         <div class="djlq">
            <a href="#">点击领券</a>
         </div>
        </div>
         <div class="clearfix"></div>
        <div class="xq">
                  <h3>私家小厨（中原路店）</h3>
                    <p>满300减20，满400减50，满500减80，凡在活动期间
每天限买一单（在线支付专享）</p>
                    <p>在线支付的订单可使用现金劵抵用，每天一单，
每单限一张，不予平台其他优惠劵叠加使用。</p>
                
        </div>
    </div>
    


</div>     
<div class="rptj">
  <p>热品推荐</p>
   <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators hidden-xs">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
           
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
           <div class="item active">
               <ul>
                  <li><a href="#"><img src="$!{conf.html.fileServ}201504/4/201507/pro_img1.jpg"></a>
                      <p>山鸡丁儿</p>
                    </li>
                    <li><a href="#"><img src="$!{conf.html.fileServ}201504/4/201507/pro_img1.jpg"></a>
                      <p>山鸡丁儿</p>
                    </li>
                    <li><a href="#"><img src="$!{conf.html.fileServ}201504/4/201507/pro_img1.jpg"></a>
                      <p>山鸡丁儿</p>
                    </li>
                    <li><a href="#"><img src="$!{conf.html.fileServ}201504/4/201507/pro_img1.jpg"></a>
                      <p>山鸡丁儿</p>
                    </li>
                    
               </ul>
             
            </div>
            
           <div class="item">
               <ul>
                  <li><a href="#"><img src="$!{conf.html.fileServ}201504/4/201507/pro_img1.jpg"></a>
                      <p>山鸡丁儿</p>
                    </li>
                    <li><a href="#"><img src="$!{conf.html.fileServ}201504/4/201507/pro_img1.jpg"></a>
                      <p>山鸡丁儿</p>
                    </li>
                    <li><a href="#"><img src="$!{conf.html.fileServ}201504/4/201507/pro_img1.jpg"></a>
                      <p>山鸡丁儿</p>
                    </li>
                    <li><a href="#"><img src="$!{conf.html.fileServ}201504/4/201507/pro_img1.jpg"></a>
                      <p>山鸡丁儿</p>
                    </li>
                    
               </ul>
             
            </div>
          </div>
       <a class="left carousel-control " href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="top:42%"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control " href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" style="top:42%" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
         
      </div>
</div>
<div class="clearfix"></div>
<div class="rptj ptfw">
  <p>配套服务<span>快捷、安全、便利</span><a href="#">更多</a></p>
    <div class="clearfix"></div>
   <div class="fw">
    <ul>
      <li><a href="#"><img src="$!{conf.html.fileServ}201504/4/201507/cw.jpg">
          <p>提供车位</p></a>
        </li>
        <li><a href="#"><img src="$!{conf.html.fileServ}201504/4/201507/cw.jpg">
          <p>提供烟酒</p></a>
        </li>
        <li><a href="#"><img src="$!{conf.html.fileServ}201504/4/201507/cw.jpg">
          <p>叫车服务</p></a>
        </li>
        <li><a href="#"><img src="$!{conf.html.fileServ}201504/4/201507/cw.jpg">
          <p>提供客房</p></a>
        </li>
    </ul>
   </div>
</div>
<div class="clearfix"></div>
<div class="rptj sjxq">
  <p>商家详情</p>
  <div class="location">
    <p>私家小厨（桐柏路店）
      <span>3.5km<a href="#">离我最近</a></span>
    </p>
    <p>
      <img src="/public/assets/images/zb.jpg" />
      <span>中原区中原中路171号10号商业用房1层108室</span>
      <img src="/public/assets/images/phone.jpg" />
    </p>
    <p>
      <a href="javascript:;"></a>
      <span><img src="$!{conf.html.fileServ}201504/4/201507/map.jpg"></span>
    </p>
  </div>
</div>
<div class="clearfix"></div>
<div class="rptj xfts">
  <p>消费提示</p>
    <div>
    <b>有效期:</b><br>
2015.6.2至2016.6.1（周末法定节假日通用）<br>

使用时间:<br>

12:00 - 14:00;17:00 - 21:30<br>
<b>预约提示:</b><br>
请至少提前3小时预约，如使用包间请务必提前预定<br>
预约位逾期不保留，请准时<br>
<b>使用规则:</b><br>
此团购可使用包间，如使用包间请务必提前与商家预定！<br>
每次消费不限使用张数，可叠加使用<br>
每张优惠券限10人使用，超出收费标准：按当时店内实<br>
际价格收取费用<br>
本单大厅包间均可使用<br>
团购用户暂不享受店内其他优惠<br>
<b>温馨提示:</b><br>
提供免费WiFi<br>
提供免费停车位<br>
商家免费提供餐后打包服务<br>
本单仅限堂食，不可外带<br>
    
    </div>
</div>

<div class="rptj sppj">
  <p>商品评价（<b>205</b>） <span>100%好评</span></p>
    <p><span>评价</span>  
    <span></span><span></span><span></span><span></span>  5.6 
    <b>218人评价</b>
    </p>
    
    <div class="comment">
      <div class="com_list">
          <p><span class="user">aaaaaaa</span>
            <span class="date">2015-08-03</span>
            <span class="score"><a></a><a></a><a></a><a></a></span>
            </p>
            <div class="clearfix"></div>
          <div class="content">
              味道很好，希望下次还可以味道很好，希望下次还可以再来味道很好，
                希望下次还可以再来味道很好，希望下次还可以再来
                味道很好，希望下次还可以再来再来
            </div>
           <p class="scrow"></p>
           <div class="imgbox">
            <ul>
              <li><img src="$!{conf.html.fileServ}201504/4/201507/pro_img1.jpg"></li>
                <li><img src="$!{conf.html.fileServ}201504/4/201507/pro_img1.jpg"></li>
                <li><img src="$!{conf.html.fileServ}201504/4/201507/pro_img1.jpg"></li>
                <li><img src="$!{conf.html.fileServ}201504/4/201507/pro_img1.jpg"></li>
            </ul>
           </div> 
        </div>
      <div class="com_list">
          <p><span class="user">aaaaaaa</span>
            <span class="date">2015-08-03</span>
            <span class="score"><a></a><a></a><a></a><a></a></span>
            </p>
            <div class="clearfix"></div>
          <div class="content">
              味道很好，希望下次还可以味道很好，希望下次还可以再来味道很好，
                希望下次还可以再来味道很好，希望下次还可以再来
                味道很好，希望下次还可以再来再来
            </div>
           <p class="scrow"></p>
           <div class="imgbox">
            <ul>
              <li><img src="$!{conf.html.fileServ}201504/4/201507/pro_img1.jpg"></li>
                <li><img src="$!{conf.html.fileServ}201504/4/201507/pro_img1.jpg"></li>
                <li><img src="$!{conf.html.fileServ}201504/4/201507/pro_img1.jpg"></li>
                <li><img src="$!{conf.html.fileServ}201504/4/201507/pro_img1.jpg"></li>
            </ul>
           </div> 
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="bot">
  <p>我要评价</p>
    <p>加入购物车</p>
    <p>立即抢购</p>
</div>


    #parse('front/_pagelet/Common.IndexJs.html')
    <script>
      $(function(){
      
      $('.good .yh').click( function(){
        var h=$(this).parent().parent().siblings('.xq').height();
        var index=$('.good .yh').index(this);
        if(h==0){
          $(this).children('span:nth-of-type(3)').css('background','url(/public/assets/images/scrowt.jpg) right 5px no-repeat')
          $(this).parent().parent().siblings('.xq').css({
            height:200,
            
            })
          }
        else{
          $(this).children('span:nth-of-type(3)').css('background','url(/public/assets/images/scrowd.jpg) right 5px no-repeat')
          $(this).parent().parent().siblings('.xq').css({
            height:0,
            
            })
          
          } 
        
        
        
        
        
        })
      $('.location p:nth-of-type(3) a').click(function(){
        
        var h=$(this).siblings('span').height();
        if(h==0)
        {
        $(this).css('background','url(/public/assets/images/scrowt.jpg) no-repeat')
        $(this).siblings('span').css('height','170px');}
        else{
          $(this).css('background','url(/public/assets/images/scrowd.jpg) no-repeat')
        $(this).siblings('span').css('height','0');
          }
        
        })
      $('.com_list .scrow').click(function(){
        var h=$(this).siblings('.imgbox').height();
        var index=$('.com_list .scrow').index(this);
        if(h==0){
          $(this).css('background','url(/public/assets/images/scrowt.jpg) bottom right no-repeat');
          $(this).siblings('.imgbox').css('height','100px')
          
          
          }
        else
        {
          $(this).css('background','url(/public/assets/images/scrowd.jpg) bottom right no-repeat');
          $(this).siblings('.imgbox').css('height','0px')
          }
        
        })
      })
    
    </script>
</body>
</html>
