<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('front/_pagelet/Common.IndexHeader.html')
		<link rel="stylesheet" type="text/css" href="/public/assets/house/1.0.1/css/style.css">
  </head>
  <body>
  
  	<div class="am-lg top de_top">
	<div class="head ">
        <p class="back"><a href="javascript:history.back();"> <img src="/public/assets/house/1.0.1/images/back.jpg"></img></a></p>
        <p>楼盘点评</p>
		<p class="gz"><a href="javascript:;"> <img src="/public/assets/house/1.0.1/images/colse.jpg"></img></a></p>
    </div>
    </div>
    <div class="com">
	<div class="dp_tit">
		<p><img src="/public/assets/house/1.0.1/images/score.jpg"></img></p>
		<p>
			<span>户型 
			<img src="/public/assets/house/1.0.1/images/star_a.jpg"></img>
			<img src="/public/assets/house/1.0.1/images/star_a.jpg"></img>
			<img src="/public/assets/house/1.0.1/images/star_a.jpg"></img>
			<img src="/public/assets/house/1.0.1/images/star_a.jpg"></img>
			<img src="/public/assets/house/1.0.1/images/star_a.jpg"></img></span></br>
			<span>配套 <img src="/public/assets/house/1.0.1/images/star_a.jpg"></img>
			<img src="/public/assets/house/1.0.1/images/star_a.jpg"></img>
			<img src="/public/assets/house/1.0.1/images/star_a.jpg"></img>
			<img src="/public/assets/house/1.0.1/images/star_a.jpg"></img>
			<img src="/public/assets/house/1.0.1/images/star_a.jpg"></img></span></br>
			<span>交通 <img src="/public/assets/house/1.0.1/images/star_a.jpg"></img>
			<img src="/public/assets/house/1.0.1/images/star_a.jpg"></img>
			<img src="/public/assets/house/1.0.1/images/star_a.jpg"></img>
			<img src="/public/assets/house/1.0.1/images/star_a.jpg"></img>
			<img src="/public/assets/house/1.0.1/images/star_a.jpg"></img></span></br>
		
		</p>
		
	</div>
	<p class="dp"><img src="/public/assets/house/1.0.1/images/wr2.jpg"></img>共32条点评</p>
	<p class="wr"> <img src="/public/assets/house/1.0.1/images/wr.jpg"></img>写点评</p>
	<p class="zj">
	
	<span>价格(18)</span>
	<span>交通(23)</span>
	<span>配套(23)</span>
	<span>环境(23)</span>
	<span>户型(23)</span>
	
	
	
	</p>
	<div class="pl_detail pl_detail2">
		<p>
			<span><img src="/public/assets/house/1.0.1/images/tx.jpg"></img>小明</span>
			<span>
				<img src="/public/assets/house/1.0.1/images/star_a2.jpg"></img>
				<img src="/public/assets/house/1.0.1/images/star_a2.jpg"></img>
				<img src="/public/assets/house/1.0.1/images/star_a2.jpg"></img>
				<img src="/public/assets/house/1.0.1/images/star_a2.jpg"></img>
				<img src="/public/assets/house/1.0.1/images/star_a2.jpg"></img>
			</span>
		</p>
		<p>
			郑州博颂职业责任有限公司郑州博颂职业责任有限公司郑州博颂职业责郑州博颂职业责任有限公司郑州博颂职业责任有限公司郑州博颂职业责郑州博颂职业责任有限公司郑州博颂职
			
			<span class="xq"><img src="/public/assets/house/1.0.1/images/s_b2.jpg"></img></span>
			<span class="xq_des">业责任有限公司郑州博颂职业责业责任有限公司郑州博颂职业责业责任有限公司郑州博颂职业责</span>
		
		</p>
		<p>2015-10-24 12:34:56</p>
		
	   
	   
	</div>
	<div class="pl_detail pl_detail2">
		<p>
			<span><img src="/public/assets/house/1.0.1/images/tx.jpg"></img>小明</span>
			<span>
				<img src="/public/assets/house/1.0.1/images/star_a2.jpg"></img>
				<img src="/public/assets/house/1.0.1/images/star_a2.jpg"></img>
				<img src="/public/assets/house/1.0.1/images/star_a2.jpg"></img>
				<img src="/public/assets/house/1.0.1/images/star_a2.jpg"></img>
				<img src="/public/assets/house/1.0.1/images/star_a2.jpg"></img>
			</span>
		</p>
		<p>
			郑州博颂职业责任有限公司郑州博颂职业责任有限公司郑州博颂职业责郑州博颂职业责任有限公司郑州博颂职业责任有限公司郑州博颂职业责郑州博颂职业责任有限公司郑州博颂职
			
			<span class="xq"><img src="/public/assets/house/1.0.1/images/s_b2.jpg"></img></span>
			<span class="xq_des">业责任有限公司郑州博颂职业责业责任有限公司郑州博颂职业责业责任有限公司郑州博颂职业责</span>
		
		</p>
		<p>2015-10-24 12:34:56</p>
		
	   
	   
	</div>
	<div class="pl_detail pl_detail2">
		<p>
			<span><img src="/public/assets/house/1.0.1/images/tx.jpg"></img>小明</span>
			<span>
				<img src="/public/assets/house/1.0.1/images/star_a2.jpg"></img>
				<img src="/public/assets/house/1.0.1/images/star_a2.jpg"></img>
				<img src="/public/assets/house/1.0.1/images/star_a2.jpg"></img>
				<img src="/public/assets/house/1.0.1/images/star_a2.jpg"></img>
				<img src="/public/assets/house/1.0.1/images/star_a2.jpg"></img>
			</span>
		</p>
		<p>
			郑州博颂职业责任有限公司郑州博颂职业责任有限公司郑州博颂职业责郑州博颂职业责任有限公司郑州博颂职业责任有限公司郑州博颂职业责郑州博颂职业责任有限公司郑州博颂职
			
			<span class="xq"><img src="/public/assets/house/1.0.1/images/s_b2.jpg"></img></span>
			<span class="xq_des">业责任有限公司郑州博颂职业责业责任有限公司郑州博颂职业责业责任有限公司郑州博颂职业责</span>
		
		</p>
		<p>2015-10-24 12:34:56</p>
		
	   
	   
	</div>
	

</div>
<div class='bot bot2'>
	<button type="button" class="btn btn-danger">点评赚积分，马上写点评</button>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   

		#parse('front/_pagelet/Common.IndexJs.html')
		#parse('front/_pagelet/Common.LastJs.html')
    <script>
    	$(function(){
			var w=$(window).width();
			
			$('.drop .d_list .dropdown-menu').css('min-width',w);
			
			
			 $(".carousel").swipe({

				  swipeLeft: function() { $(this).carousel('next'); },
				
				  swipeRight: function() { $(this).carousel('prev'); },
				
				 });
				 
			$('.pl_detail2 p:nth-of-type(2) .xq').click(function(){
				
				
				$(this).siblings('.xq_des').toggle();
				
				})
			})
			
    </script>
  </body>
</html>