<!DOCTYPE html>
<html>
	<head>
		#parse('front/_pagelet/Common.IndexHeader.html')
		<link rel='stylesheet' type='text/css' href='/public/assets/css/manage/1.0.1/index.css' />
		<link rel='stylesheet' type='text/css' href='/public/assets/css/manage/1.0.1/iframe.css' />
	</head>
	<body>
		<div class='container'>
			<div class='row'>
				<div class='col-sm-12 col-md-12'>
					<ol class='breadcrumb'>
						<li class='active'><i class='fa fa-home fa-fw'></i> 后台管理</li>
						<li class='active'>$!{data.title}</li>
						<li class='active'><a href='javascript:location.reload();'>新增</a></li>
					</ol>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-12 col-md-12'>
					<div class='panel panel-default'>
						<div class='panel-body'>
							<form class='form-horizontal' id='addFrm' role='form' onsubmit='return false;' data-url='add'>
								<div class='form-group'>
									<label class='col-sm-2 hidden-xs control-label' for='addFrm_CUSTOMER_ID'>所属客户</label>
									<div class='col-sm-4'>
										<select class='form-control' name='CUSTOMER_ID' id='addFrm_CUSTOMER_ID'>
										#foreach($!doc in $!data.customers)
											<option value='$!doc.id'>$!doc.USER_NAME（$!doc.REAL_NAME）</option>#end
										</select>
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-2 hidden-xs control-label' for='addFrm_CORP_NAME'>企业名称</label>
									<div class='col-sm-4'>
										<input type='password' class='form-control' name='CORP_NAME' id='addFrm_CORP_NAME' placeholder='企业名称'>
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-2 hidden-xs control-label' for='addFrm_INTRO'>简介</label>
									<div class='col-sm-4'>
										<textarea class='form-control' rows='3' name='INTRO' id='addFrm_INTRO' placeholder='简介' required='required'></textarea>
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-2 hidden-xs control-label' for='addFrm_STATUS'>状态</label>
									<div class='col-sm-4'>
										<select class='form-control' name='STATUS' id='addFrm_STATUS'>
											<option value='1'>启用</option>
											<option value='0'>禁用</option>
										</select>
									</div>
								</div>
								<div class='form-group'>
									<div class='col-sm-offset-2 col-sm-4'>
										<button id='addFrm_btn_sub' type='button' class='btn btn-primary'>新增</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		#parse('front/_pagelet/Common.IndexJs.html')
		#parse('manage/_pagelet/Common.Iframe.html')
		<script>
		</script>
	</body>
</html>