<!DOCTYPE html>
<html lang='zh-CN'>
  <head>
    #parse('front/_pagelet/Common.IndexHeader.html')
    <link rel="stylesheet" type="text/css" href="http://demo.zzmekj.com/dcxm/css/normal.css">
  </head>
  <body>
  
<div class="top de_top">
	<div class="head ">
        <p class="back"><a href="#"> <img src="http://demo.zzmekj.com/dcxm/images/back.jpg"></img></a></p>
        <p>房贷计算</p>
		<p class="gz"><a href="#"> <img src="http://demo.zzmekj.com/dcxm/images/colse.jpg"></img></a></p>
    </div>
</div>
    
    
 <div class="tab">   
    <ul id="myTab" class="nav nav-tabs" >
       <li class="active">
          <a href="#gjjdk" data-toggle="tab">
            公积金贷款
          </a>
       </li>
       <li><a href="#sydk" data-toggle="tab">商业贷款</a></li>
       <li class="dropdown">
          <a href="#zhdk" data-toggle="tab">组合贷款</a>
       </li>
	</ul>
    <div id="myTabContent" class="tab-content">
       <div class="tab-pane fade in active" id="gjjdk">
          <p class="tab_p1">还款方式：<span><img src="http://demo.zzmekj.com/dcxm/images/radio_a.jpg"></img>等额本息</span><span><img src="http://demo.zzmekj.com/dcxm/images/radio_b.jpg"></img>等额本金</span></p>
			<p class="tab_p2">贷款金额：<span><input type="text" placeholder=请输入贷款金额></input>万元</span></p>
			<p class="tab_p3">按揭年数：<span>20年(240期)<img src="http://demo.zzmekj.com/dcxm/images/s_r2.jpg"></img></span></p>
			<p class="tab_p4">利&nbsp;&nbsp;&nbsp;&nbsp;率:<span>15年8月26基准利率<img src="http://demo.zzmekj.com/dcxm/images/s_r2.jpg"></img></span></p>
			<p class="tab_p5">公积金贷款利率为3.25%</p>
			<button type="button" class="btn btn-danger tab_btn">开始计算</button>
       </div>
        <div class="tab-pane fade" id="sydk">
           <p class="tab_p1">还款方式：<span><img src="http://demo.zzmekj.com/dcxm/images/radio_a.jpg"></img>等额本息</span><span><img src="http://demo.zzmekj.com/dcxm/images/radio_b.jpg"></img>等额本金</span></p>
			<p class="tab_p2">贷款金额：<span><input type="text" placeholder=请输入贷款金额></input>万元</span></p>
			<p class="tab_p3">按揭年数：<span>20年(240期)<img src="http://demo.zzmekj.com/dcxm/images/s_r2.jpg"></img></span></p>
			<p class="tab_p4">利&nbsp;&nbsp;&nbsp;&nbsp;率:<span>15年8月26基准利率<img src="http://demo.zzmekj.com/dcxm/images/s_r2.jpg"></img></span></p>
			<p class="tab_p5">商业贷款利率为5.15%</p>
			<button type="button" class="btn btn-danger  tab_btn">开始计算</button>
       </div>
       <div class="tab-pane fade" id="zhdk">
           <p class="tab_p1">还款方式：<span><img src="http://demo.zzmekj.com/dcxm/images/radio_a.jpg"></img>等额本息</span><span><img src="http://demo.zzmekj.com/dcxm/images/radio_b.jpg"></img>等额本金</span></p>
			<p class="tab_p2">公积金贷款金额：<span><input type="text" placeholder=请输入贷款金额></input>万元</span></p>
			<p class="tab_p3">公积金按揭年数：<span>20年(240期)<img src="http://demo.zzmekj.com/dcxm/images/s_r2.jpg"></img></span></p>
			<p class="tab_p2">商业贷款金额：<span><input type="text" placeholder=请输入贷款金额></input>万元</span></p>
			<p class="tab_p3">商业贷款按揭年数：<span>20年(240期)<img src="http://demo.zzmekj.com/dcxm/images/s_r2.jpg"></img></span></p>
			<p class="tab_p4">利&nbsp;&nbsp;&nbsp;&nbsp;率:<span>15年8月26基准利率<img src="http://demo.zzmekj.com/dcxm/images/s_r2.jpg"></img></span></p>
			<p class="tab_p5">公积金贷款利率为3.25% 商业贷款利率为5.15%</p>
			<button type="button" class="btn btn-danger tab_btn">开始计算</button>
       </div>
      
    </div>
   
  
 </div> 
  
  
  
  
  
  
  
  
  
  
  

    #parse('front/_pagelet/Common.IndexJs.html')
    #parse('front/_pagelet/Common.LastJs.html')
    <script>
    	$(function(){
			var w=$(window).width();
			
			$('.drop .d_list .dropdown-menu').css('min-width',w);
			
			
			 $(".carousel").swipe({

				  swipeLeft: function() { $(this).carousel('next'); },
				
				  swipeRight: function() { $(this).carousel('prev'); },
				
				 });
				 
			$('.pl_detail2 p:nth-of-type(2) .xq').click(function(){
				
				
				$(this).siblings('.xq_des').toggle();
				
				})
			})
			
    </script>
  </body>
</html>